/*--rotate-start--*/
.footer-text-align2{
	border-radius:15px;
	padding:5px;
	margin:20px;
	font-size:18px;
	float:right;
	animation: footer 5s infinite;
}
@keyframes footer{	
	0% {transform:rotate(0deg);}
	100% {transform:rotate(360deg);}
}
/*--rotate-end--*/